<% provide(:title, "My profile") %>

<% content_for :content do %>
	<div id="colorlib-main">
		<aside>
			<div class="container-profile">
			  <div class="row">
			    <div class="col-md-6 img">
		    		<%= image_tag @user.avatar.url, width: "275", height: "183", class: "img-rounded" %>
			    </div>
			    <div class="col-md-6 details">
			      <blockquote>
			        <h5 class="name-profile"><%= @user.name %></h5>
			        <small><cite title="Source Title">Love the piece</small>
			      </blockquote>
			      <p>
			        <%= @user.email %> <br>
			        Joined at <%= @user.created_at.strftime("%d %b %Y") %>
			      </p>
			    </div>   
			  </div>
			  <div class="btn-group">
				  	<% if can? :update, @user %>
					  	<%= link_to "Update profile", "#update-profile-modal", "data-toggle" => "modal", class: "update-btn" %>
						<%= link_to "Change your password", edit_user_registration_path, class: "update-btn" %>
					<% end %>
					<% if can? :create, Place %>
						<%= link_to "Create your new review", new_place_path, class: "update-btn" %>
					<% end %>
				</div>
			</div>
		</aside>

		<div class="colorlib-blog">
			<div class="container-wrap">
				<div class="row row-bottom-padded-md">
					<h1 class="my-review text-center">Review posts</h1>
					<% if @my_reviews.present? %>
						<% @my_reviews.each do |review| %>
							<div class="col-md-4">
								<div class="blog-entry-style animate-box">
									<div class="blog-img">
										<%= link_to place_path(review.id) do %>
											<%= image_tag review.place_pictures.first.picture.url, class:"img-responsive" %>
										<% end %>
									</div>
									<div class="desc">
										<p class="meta">
											<span class="cat">
												<%= link_to review.address.name, address_path(review.address.id) %>
											</span>
											<span class="date"><%= review.created_at.strftime("%d %b %Y") %></span>
											<span class="pos">By <%= review.user.name %></span>
										</p>
										<h2><%= link_to review.place_name, place_path(review.id) %></h2>
										<p><%= review.review_content[0..50] %>...</p>
									</div>
									<% if can? :destroy, review %>
										<%= link_to place_path(review.id), data: {method: :delete, confirm: 'Are you sure?'}, class: "btn btn-primary" do %>
											<i class="fa fa-trash"></i>Delete this post
										<% end %>
									<% end %>
								</div>
							</div>
						<% end %>
					<% else %>
						<h3 class="text-center">No post now</h3>
					<% end %>
				</div>
			</div>
		</div>			
	</div>
	
	<% if user_signed_in? %>
		<%= render "users/update_profile" %>
	<% end %>

<% end %>
