<% provide(:title, "My profile") %>

<% content_for :content do %>
	<div id="colorlib-main">
		<aside>
			<div class="container-profile">
			  <div class="row">
			    <div class="col-md-6 img">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
			    </div>
			    <div class="col-md-6 details">
			      <blockquote>
			        <h5 class="name-profile"><%= @user.name %></h5>
			        <small><cite title="Source Title">Love the piece</small>
			      </blockquote>
			      <p>
			        <%= @user.email %> <br>
			        Joined at <%= @user.created_at.strftime("%d %b %Y") %>
			      </p>
			    </div>   
			  </div>
			  	<% if @user == current_user %>
				  <div class="btn-group">
				  	<%= link_to "Update profile", "#update-profile-modal", "data-toggle" => "modal", class: "update-btn" %>
					<%= link_to "Change your password", edit_user_registration_path, class: "update-btn" %>
				  </div>
				<% end %>
			</div>
		</aside>

		<div class="colorlib-blog">
			<div class="container-wrap">
				<div class="row row-bottom-padded-md">
					<h1 class="my-review text-center">Review posts</h1>
					<% if @my_reviews.present? %>
						<% @my_reviews.each do |review| %>
							<div class="col-md-4">
								<div class="blog-entry-style animate-box">
									<div class="blog-img">
										<%= link_to place_path(review.id) do %>
											<%=image_tag "/assets/#{review.place_pictures.first.picture}", class:"img-responsive", alt:"html5 bootstrap template" %>
										<% end %>
									</div>
									<div class="desc">
										<p class="meta">
											<span class="cat">
												<%= link_to review.address.name, address_path(review.address.id) %>
											</span>
											<span class="date"><%= review.created_at.strftime("%d %b %Y") %></span>
											<span class="pos">By <%= review.user.name %></span>
										</p>
										<h2><%= link_to review.place_name, place_path(review.id) %></h2>
										<p><%= review.review_content[0..50] %>...</p>
									</div>
								</div>
							</div>
						<% end %>
					<% else %>
						<h3 class="text-center">No post now</h3>
					<% end %>
				</div>
				
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<div class="digg_pagination">
							<%= will_paginate @my_reviews %>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
	
	<%= render "users/update_profile" %>

<% end %>
