<% provide :title, "About us" %>
<% content_for :content do %>
	<div id="colorlib-main">
		<div class="colorlib-blog">
			<div class="container-wrap">
				<div class="row row-pb-lg">
					<div class="col-md-12 blog-slider">
						<div class="owl-carousel">
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_leader.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Leader</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Nguyễn Đình Dương</h2>
												<p>Yêu màu tím, thích màu hồng</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_leader.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Sub leader</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Hà Minh Đức</h2>
												<p>Yêu màu tím, thích màu hồng</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_member.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Member</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Phạm Tùng Lâm</h2>
												<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_member.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Member</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Đặng Đình Dũng</h2>
												<p>Có hứng thú với màu tím mộng mơ</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_member.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Member</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Phạm Hoàng Hưng</h2></h2>
												<p>Thích ngắm cầu vồng sau mưa</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="blog-entry">
									<div class="blog-img" style="background-image: url(<%= asset_path('about_member.jpg') %>);">
										<div class="desc desc2 text-center">
											<p class="tag"><span>Member</span></p>
											<div class="desc-bottom">
												<h2 class="head-article" style="color: #fff">Trịnh Văn Đại</h2>
												<p>Màu hồng và màu tím là niềm hi vọng của nhân loại</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2>About Vietnam</h2>
				<div class="row">
					<div class="col-md-5">
						<div class="content-wrap">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ZnKd2j9hqC8" 
								frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-7">
						<div class="content-wrap">
							<p>Vietnam (UK: /ˌvjɛtˈnæm, -ˈnɑːm/, US: /ˌviːət-/ (About this sound listen);
							Vietnamese: Việt Nam pronounced [vîət nāːm] (About this sound listen)), officially the Socialist Republic of Vietnam (Vietnamese: Cộng hòa Xã hội chủ nghĩa Việt Nam), 
							is the easternmost country on the Indochina Peninsula. With an estimated 94.6 million inhabitants as of 2016, it is the world's 15th-most-populous country, 
							and the ninth-most-populous Asian country.
							Vietnam is bordered by China to the north, Laos to the northwest, Cambodia to the southwest, Thailand across the Gulf of Thailand to the southwest, and the Philippines, 
							Malaysia and Indonesia across the South China Sea to the east and southeast.
							Its capital city has been Hanoi since the reunification of North and South Vietnam in 1976, with Ho Chi Minh City as the most populous city.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>