<%= form_for @place, html: { multipart: true } do |f| %>
    <div class="form-group">
        <%= f.label :place_name %>:
        <%= f.text_field :place_name, class: "form-control", required: true %>
    </div>
    
    <div class="form-group">
        <%= f.label :review_content %>:
        <%= f.text_area :review_content, class: "form-control", rows: "6", required: true %>
    </div>
    
    <div class="form-group">
        <%= f.label :address_id %>:
        <%= f.select :address_id, Address.all.collect {|a| [ a.name, a.id ] }, prompt: "Select" %>
    </div>
    
    <div class="form-group">
        <%= f.label :rate %>
        <%= f.number_field :rate, class: "form-control", step: 0.5, required: true %>
    </div>
    
    <div class="form-group">
        <%= f.label :pictures %>
        <div class="controls">
          <%= file_field_tag "images[]", type: :file, multiple: true, class: "upload-image" %>
        </div>
        <div class="preview"></div>
    </div>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to "Back", :back, class: "btn btn-warning" %>
 <% end %>