<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= yield :stylesheet %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body data-turbolinks="false">
	<!-- back to top -->
	<%= link_to "javascript:", id: "return-to-top" do %>
	  <i class="fa fa-arrow-circle-up"></i>
	<% end %>
	<!-- ./end -->
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<h1 id="colorlib-logo"><%= link_to "MyTravel", root_path %></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<% if user_signed_in? %>
						<li>
							<%= image_tag current_user.avatar.url(:small), class: "br-50" %>
							<%= current_user.name %>
						</li>
					<% end %>
					<li><%= link_to_in_li "Home", root_path %></li>
					<li><%= link_to_in_li "About us", about_path %></li>
					<% if user_signed_in? %>
						<% if current_user.is_admin %>
							<li><%= link_to "Admin page", rails_admin.dashboard_path %></li>
						<% end %>
						<li><%= link_to_in_li "My profile", user_path(current_user.id) %></li>
						<li><%= link_to_in_li "Log out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to_in_li "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><small>&copy;
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
				<span>Created by 風水</span></small></p>
				<ul>
					<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>

		</aside>

		<%= yield :content %>
		<%= render "layouts/message" %>
	</div>

</body>

<script>
	// ===== Scroll to Top ==== 
	$(window).scroll(function() {
	    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
	        $('#return-to-top').fadeIn(200);    // Fade in the arrow
	    } else {
	        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
	    }
	});
	$('#return-to-top').click(function() {      // When arrow is clicked
	    $('body,html').animate({
	        scrollTop : 0                       // Scroll to top of body
	    }, 500);
	});
	$('.star-rating').raty({
	      path: '/assets/',
	      readOnly: true,
	      score: function() {
	            return $(this).attr('data-score');
	    }
	});
</script>

</html>
