<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= yield :stylesheet %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body data-turbolinks="false">
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<h1 id="colorlib-logo"><a href="index.html">Megazine</a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li><%= link_to_in_li "Home", root_path %></li>
					<li><%= link_to_in_li "Style", style_path %></li>
					<% if user_signed_in? %>
						<li><%= link_to_in_li "My profile", "#" %></li>
						<li><%= link_to_in_li "Log out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to_in_li "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><small>&copy;
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
				<span>Created by 風水</span></small></p>
				<ul>
					<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>

		</aside>

		<%= yield :content %>
	</div>

</body>
</html>
